.header-bg {
  background-color: var(--cor-preta);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  color: var(--cor-branca);
  position: relative;
}

.header-menu a:after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--cor-branca);
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-login {
  justify-self: end;
}

@media (max-width: 1000px) {
  .header-bg {
    background-color: var(--cor-7) ;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }
  .header-menu a {
    background-color: var(--cor-cinza-4);
    padding: 12px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-cinza-5);
  }
  .header-menu a:hover::after{
    width: 0;
  }
}

@media (max-width:400px) {
  .header-menu {
    justify-content:center ;
  }
}

